$font_xl: "Russo_One", Arial, sans-serif;

$font_reg: "Montserrat", Arial, sans-serif;
$font_md: "Montserrat-Medium", Arial, sans-serif;
$font_semi: "Montserrat-SemiBold", Arial, sans-serif;

/* colors */
$transiton  :   all 500ms ease;

$white: #FFF;
$bg-color: #F5F5F5;
$black: #000;
$red: #92094B;
$burgundy: #670A37;
$pink: #FFDCED;
$pink-light: #FFF1F8;
$green: #237804;
$gray: #00000085;
$gray-light: #00000065;
$gray-tone: #F5F5F5;
$gray-glass: #00000045;
$brad: 8px; /* border-radius */
